<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <script src="https://use.fontawesome.com/0b3435a4dc.js"></script>
  </head>
  <body>
    <%- include partials/header.ejs %>

    <div class="row d-flex m-5">
      <h1><%= user.FirstName%>, welcome to <%= title %></h1>

      You must associate an Spotify Account
      <a href="<%= authUrl%>" class="btn btn-success">
        <i class="fa fa-spotify"></i>
    </a>
    </div>
  </body>
</html>
