<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
  </head>
  <body>
    <%- include partials/header.ejs %>
    <div class="row d-flex m-5">
      <h1>Top Tracks</h1>
      <table class="table mt-3">
        <thead>
          <tr>
            <th scope="col">Position</th>
            <th scope="col">Artist</th>
            <th scope="col">Track Name</th>
            <th scope="col">Album</th>
            <th scope="col">Listen</th>
          </tr>
        </thead>
        <tbody>
          <% for( let i = 0; i < top.length; i++ ) { %>
            <tr>
              <th scope="row">#<%= i+1 %> </th>
              <td>
                <%= top[i].artists.length >1 ? top[i].artists.map(({name})=>name).join(', ') : top[i].artists[0].name %>
              </td>
              <td>
                <%= top[i].name %>
              </td>
              <td>
                <%= top[i].album.name%>
              </td>
              <td>
                <button class="btn btn-link text-left">
                  <a href="<%= top[i].external_urls.spotify %> " class="href">
                    Listen to <%= top[i].name %> from <%= top[i].artists.length >1 ? top[i].artists.map(({name})=>name).join(', ') : top[i].artists[0].name %>

                  </a>
                </button>
              </td>
            </tr>
          <% } %>
        </tbody>
      <table>
    </div>
  </body>
</html>
