<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
  </head>
  <body>
    <%- include partials/header.ejs %>
    <div class="row d-flex m-5">
      <h1>Top Artists</h1>
      <table class="table mt-3">
        <thead>
          <tr>
            <th scope="col">Position</th>
            <th scope="col">Artist</th>
            <th scope="col">Genres</th>
            <th scope="col">Listen</th>
          </tr>
        </thead>
        <tbody>
          <% for( let i = 0; i < top.length; i++ ) { %>
            <tr>
              <th scope="row">#<%= i+1 %> </th>
              <td class="d-flex">
                <div class="d-flex justify-content-center rounded-circle mr-3" style="width: 5rem; background: black;">
                  <img class="rounded-circle" style="height: 5rem;" src="<%= top[i].images[0].url%>"/>
                </div>
                <%= top[i].name %>
              </td>
              <td>
                <%= top[i].genres.join(', ') %>
              </td>
              <td>
                <button class="btn btn-link">
                  <a href="<%= top[i].external_urls.spotify %> " class="href">
                    Listen to <%= top[i].name %>
                  </a>
                </button>
              </td>
            </tr>
          <% } %>
        </tbody>
      <table>
    </div>
  </body>
</html>
